* {
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    border-bottom: 1px solid #eceef4;
    max-width: 1200px;
    width: 100%;
    margin: 56px auto 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url("logo-background.png");
    width: 403px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contract {
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.icons li {
    display: inline-block;
    fill: #6d6e71;
    border-left: 1px solid #bcbec3;
    padding: 0 24px 0 24px;
    cursor: pointer;
    position: relative;
}

.icons li:first-child {
    border: 0;
    padding-left: 0;
}

.icons li:last-child {
    padding-right: 24px;
}

.tooltip:before {
    border-radius: 8px;
    width: 223px;
    height: 48px;
    color: #6d6e71;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    border: 2px solid #d4d4d5;
    content: attr(data-tooltip);
    position: absolute;
    top: -70px;
    left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip:after {
    content: '';
    display:flex;
    width:0;
    height:0;
    position:absolute;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #d4d4d5 transparent transparent transparent;
    top: -20px;
    left: 27px;
}

.menu {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eceef4;
}

.menu nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu ul > li {
    display: inline-block;
    padding: 30px 24px 30px 24px;
}

.menu ul > li:not(:last-child) {
    border-right: 1px solid #eceef4;
}

.menu a {
     text-decoration: none;
     color: #6d6e71;
     font-size: 13px;
     font-weight: 700;
     line-height: 27px;
}

.menu li > a:hover, .menu li > a[selected="selected"] {
    color: #1faae2;
    position: relative;
    margin: 0;
}

.menu li > a:hover::before {
    content: '';
    width:0;
    height:0;
    position:absolute;
    border-width: 0 17px 8px 17px;
    border-style: solid;
    border-color: transparent transparent #1faae2 transparent;
    bottom: -36px;
    left: calc(50% - 17px);
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search > form > input {
    border: 0;
    padding-left: 10px;
    color: #6d6e71;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}
