body {
    padding: 30px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    flex: 1 1 100%;
    background: lightblue;
}

section {
    flex-direction: row;
    flex: 3;
    background: lightgreen;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

aside {
    flex: 1;
    background: pink;
}

header, article, section, .module {
    padding: 1rem;
}