.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
}

.searchable-form {
    display: flex;
    min-width: 520px;
    justify-content: center;
}

.search-input {
    margin-left: 10px;
    font-size: 20px;
}

.response {
    margin-top: 100px;
    color: #2d9a45;
}